.lupa{
    margin-left: 5px;
    border-radius:5px;
    border:none;
    background-color:transparent;
    padding: 10px 10px;
    color:#32de84;
}

.form{
    background-color: white;
    width:fit-content;
    border-radius:20px;
    border: 2.5px solid #32de84
}

.form input{
    padding:10px 12px;
    font-size:16px;
    color:#000;
    outline: none;
    border: none;
    border-radius:15px;
    background-color:transparent;
}

.cont{
    display:flex;
    justify-content: center;
}